<body>
<header>
<% if current_user %>
  <p>Hello, <%= current_user.email %> |
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </p>
<% else %>
<%= link_to 'sign in', new_user_session_path %> |
<%= link_to 'sign up', new_user_registration_path %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

</header>
<%= yield %>

</body>
</html>